In [ ]:
from google.colab import files

file_1=files.upload()

Saving WA_Fn-UseC_-Telco-Customer-Churn.csv to WA_Fn-UseC_-Telco-Customer-Churn (1).csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [ ]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head(4)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [ ]:
#Checking for null values in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
#Empty strings in TotalCharges and MonthlyCharges
print(f"Empty strings in TotalCharges: {len(df[df['TotalCharges'] == ' '])}")
print(f"Empty strings in MonthlyCharges: {len(df[df['MonthlyCharges'] == ' '])}")

Empty strings in TotalCharges: 11
Empty strings in MonthlyCharges: 0

In [ ]:
print(df['Churn'].value_counts(normalize=True))

Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

In [ ]:
df['TotalCharges']=pd.to_numeric(df['TotalCharges'], errors='coerce')
#df.info()
# df['TotalCharges']=df[df['TotalCharges'].isnull()] # This line caused the error and is removed.

In [ ]:
print(f"Number of rows where 'TotalCharges' is 0 (originally null): {len(df[df['TotalCharges'] == 0])}")
display(df[df['TotalCharges'] == 0])

Number of rows where 'TotalCharges' is 0 (originally null): 0

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [ ]:
null_rows = df[df.isnull().any(axis=1)]
print(f"Number of rows with null values: {len(null_rows)}")
display(null_rows)

Number of rows with null values: 11

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [ ]:
# 1. Locate the specific '0 tenure' rows
# We use the original dataframe or look at where tenure is 0
anomalies = df[df['tenure'] == 0]

# 2. Investigate their status
print(f"Number of customers with 0 tenure: {len(anomalies)}")
print("Are they all 'Non-Churned'? \n", anomalies['Churn'].value_counts())

# 3. Decision Logic:
# Since they are new, 'TotalCharges' being 0 is technically correct for 'historical' spend,
# but it might skew our LTV (Lifetime Value) models.

Number of customers with 0 tenure: 11
Are they all 'Non-Churned'?
 Churn
No    11
Name: count, dtype: int64

In [ ]:
df['TotalCharges']=df['TotalCharges'].fillna(0)

In [ ]:
df['Churn_encode']=df['Churn'].apply(lambda x:1 if x=='Yes' else 0)

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Churn_encode
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.50,No,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1

In [ ]:
print("Cleaning Summary:")
print(df[['tenure', 'MonthlyCharges', 'TotalCharges']].describe())

Cleaning Summary:
            tenure  MonthlyCharges  TotalCharges
count  7043.000000     7043.000000   7043.000000
mean     32.371149       64.761692   2279.734304
std      24.559481       30.090047   2266.794470
min       0.000000       18.250000      0.000000
25%       9.000000       35.500000    398.550000
50%      29.000000       70.350000   1394.550000
75%      55.000000       89.850000   3786.600000
max      72.000000      118.750000   8684.800000

In [ ]:
leakage_by_contract = df.groupby('Contract').agg({
    'Churn_encode': 'mean',
    'MonthlyCharges': 'sum'
}).rename(columns={'Churn_encode': 'Churn_Rate'})

print(leakage_by_contract)

                Churn_Rate  MonthlyCharges
Contract
Month-to-month    0.427097       257294.15
One year          0.112695        95816.60
Two year          0.028319       103005.85

In [ ]:
# Grouping by both Contract and InternetService to find the "Risk Zone"
service_risk = df.groupby(['Contract', 'InternetService']).agg({
    'Churn_encode': 'mean',
    'MonthlyCharges': 'count'
}).rename(columns={'Churn_encode': 'Churn_Rate', 'MonthlyCharges': 'Customer_Count'})

print(service_risk.sort_values(by='Churn_Rate', ascending=False))

                                Churn_Rate  Customer_Count
Contract       InternetService
Month-to-month Fiber optic        0.546053            2128
               DSL                0.322159            1223
One year       Fiber optic        0.192950             539
Month-to-month No                 0.188931             524
One year       DSL                0.092982             570
Two year       Fiber optic        0.072261             429
One year       No                 0.024725             364
Two year       DSL                0.019108             628
               No                 0.007837             638

In [ ]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Churn_encode
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.50,No,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1

In [ ]:
# Creating a Risk Score based on our findings
def define_risk(row):
    if row['Contract'] == 'Month-to-month' and row['InternetService'] == 'Fiber optic':
        return 'Critical Risk'
    elif row['Contract'] == 'Month-to-month':
        return 'High Risk'
    else:
        return 'Stable'

df['Revenue_Risk_Status'] = df.apply(define_risk, axis=1)

# Saving the file for further analysis
df.to_csv('Project_Sentinel_Cleaned.csv', index=False)

print(" File Exported.")
print(df['Revenue_Risk_Status'].value_counts())

Master File Exported.
Revenue_Risk_Status
Stable           3168
Critical Risk    2128
High Risk        1747
Name: count, dtype: int64

In [ ]:
files.download('Project_Sentinel_Cleaned.csv')